@import "../omarchy/current/theme/waybar.css";

* {
    background-color: transparent;
    color: @foreground;
    margin: 0px;
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: 'SFMono Nerd Font';
    font-size: 12px;
    font-weight: 700;
}

.modules-left, .modules-right, .modules-center {
    background-color: alpha(@background, 0.01);
    border: 1px solid alpha(@foreground, 0.125);
    min-height: 24px;
    border-radius: 11px;
    margin: 4px 4px 2px 4px;
    padding: 2px 14px;
}

.modules-left {
    padding-left: 18px;
}

.modules-center {
    padding-left: 16px;
    padding-right: 20px;
}

.modules-right {
    padding-right: 10px;
    padding-left: 22px;
}


#workspaces button {
    all: initial;
    padding: 0 6px;
    margin: 0 1.5px;
    min-width: 9px;
}

#workspaces button.empty {
    opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
    min-width: 12px;
    margin: 0 7.5px;
}

#custom-update {
  margin-right: 2px;
}

#tray {
    margin-right: 16px;
}

#bluetooth {
    margin-right: 17px;
}

#network {
    margin-right: 13px;
}

#custom-expand-icon {
    margin-right: 20px;
}

tooltip {
    background-color: alpha(@background, 0.9);
    border: 1px solid alpha(@foreground, 0.15);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    padding: 2px;
}

#custom-uptime {
  margin-right: 10px;
}

#custom-update {
    font-size: 10px;
}

#clock {
    margin-left: 8.75px;
}

#idle_inhibitor {
  margin-left: 4px;
}

#mpris {
  margin-left: 30px;
  margin-right: 4px;
}

#cpu-box {
  margin-left: -5px;
}

#custom-cpuusage {
  margin-right: 0px;
}

#memory {
  margin-right: 8px;
}

#custom-diskfree {
  margin-left: -5px;
}

.hidden {
    opacity: 0;
}

#custom-screenrecording-indicator {
    min-width: 12px;
    margin-left: 8.75px;
    font-size: 10px;
}

#custom-screenrecording-indicator.active {
    color: #a55555;
}

#custom-separator {
    color: rgba(255, 255, 255, 0.3);
    margin: 0 12px;
    font-size: 14px;
}

